@use "@/app/styles/variables";

.wrapper {
 display: flex;
 flex-direction: column;
 justify-content: center;
 justify-self: center;
 align-self: center;
 gap: 2rem;
 width: 100%;
 height: 100%;
 align-items: center;
 margin: 2rem auto;

 .loader {
  border: 1rem dotted variables.$clr-white;
  border-top: 1rem dotted variables.$icon-default;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
 }
}
