@use "../../styles/variables";
@use "../../styles/mixins";

.main {
 @include mixins.flex-column-gap(4rem);
 width: 82%;
 margin: 0 auto;

 .myInfo {
  @include mixins.flex-alignIC-justifyCC(flex);
  flex-direction: row-reverse;
  gap: 2rem;
  animation: fadeIn 0.9s ease;

  .text {
   @include mixins.flex-column-gap(2rem);
  }
 }
 .cardsWrapper {
  @include mixins.flex-alignIC-justifyCC(flex);
  flex-wrap: wrap;
  gap: 4rem;
  padding-right: 2rem;
  animation: slideInFromRight 0.7s ease;

  overflow-x: scroll;

  scrollbar-width: none;

  .cards {
   border-radius: 4rem;
   background-color: rgba(255, 255, 255, 10%);
   box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 4%), 0 2px 3px 0px rgba(0, 0, 0, 12%),
    0 6px 9px 0px rgba(0, 0, 0, 60%);
   backdrop-filter: blur(4rem);
   padding: 0.8rem;
   margin: 0rem 0rem 2rem 1rem;

   .imgDiv {
    @include mixins.wdth-hght-borderRD(40rem, 20rem);
    background-size: cover;
    background-position: center;
    border-radius: 4rem;
   }

   .description {
    padding: 2rem 4rem;
   }
  }
 }
}

/* Mini */
@media (max-width: 470px) {
 .cardsWrapper {
  gap: 1rem !important;

  .imgDiv {
   @include mixins.wdth-hght-borderRD(30rem !important, 15rem !important);
  }

  .description {
   padding: 1rem 2rem !important;
  }
 }
}

/* Mobile */
@media (max-width: 700px) {
 .main {
  width: 90%;
  .myInfo {
   flex-direction: column-reverse;
  }
 }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 .myInfo {
  flex-direction: column !important;
 }
}
