@use "../../styles/variables";

.videoWrapper {
 width: fit-content;
 height: max-content;
 align-self: center;
 border-radius: 0.4rem;
 background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 100%) 1rem,
  rgba(255, 255, 255, 0%) 10rem
 );
 
 margin: 2rem;
 backdrop-filter: blur(4rem);

 video {
  border-radius: 0.4rem;
  height: clamp(20rem, 20vw, 25rem);
  margin: 0.1rem;
 }

 p {
  padding: 1.1rem 2rem;
 }
}
