@use "../app/styles/variables";
@use "../app/styles/mixins";

.main {
 @include mixins.flex-column-gap(4rem);

 .myInfo {
  display: flex;
  padding-left: 12rem;
  animation: fadeIn 0.9s ease;

  .text {
   @include mixins.flex-column-gap(2rem);
  }
 }
}

/* Mobile */
@media (max-width: 700px) {
 .myInfo {
  flex-direction: column-reverse;
  padding: 0 2rem !important;
 }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 .myInfo {
  flex-direction: column;
  .text {
    padding-right: 5rem;
  }
 }
}
