@import "variables";

.main {
 display: flex;
 flex-direction: column;
 gap: 4rem;
 width: 100%;
 overflow: hidden;

 .myInfo {
  padding: clamp(1rem, 4vw, 6rem);
  animation: fadeIn 0.9s ease;

  .text {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 60%;
  }
 }

 .myProjects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;

  h3 {
   padding-left: clamp(1rem, 4vw, 6rem);
   animation: slideInFromBottom 0.6s ease backwards 0.6s;
  }

  .cardsWrapper {
   display: flex;
   gap: 4rem;
   padding-right: 2rem;
   animation: slideInFromRight 0.7s ease;

   overflow-x: scroll;

   scrollbar-width: none;

   .cards {
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 10%);
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 4%), 0 2px 3px 0px rgba(0, 0, 0, 12%),
     0 6px 9px 0px rgba(0, 0, 0, 60%);
    backdrop-filter: blur(4rem);
    padding: 0.8rem;
    margin: 0rem 0rem 2rem 1rem;

    img {
     border-radius: 4rem;
    }

    .description {
     padding: 2rem 4rem;
    }
   }
  }
 }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
