@use "@/app/styles/variables";
@use "@/app/styles/mixins";

.main {
 display: flex;
 flex-direction: column;
 gap: 12rem;
 width: 80%;
 margin: 0 auto;
 animation: fadeIn 0.6s forwards;

 .responsiveSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;

  p {
   width: 95%;
   text-align: center;
  }

  &::before {
   position: absolute;
   content: "";
   top: -4rem;
   right: -4rem;
   bottom: -4rem;
   left: -4rem;
   z-index: -1;
   background-color: variables.$icon-default;
   border-radius: 4rem;
   transform: skewY(-3deg);
  }

  .mokupWrapping {
   position: relative;
   @include mixins.wdth-hght-borderRD(50%, fit-content, 3rem);

   img {
    align-self: center;
    @include mixins.wdth-hght-borderRD(100%, fit-content, 3rem);
    filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.6));
   }

   :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
   }
  }
 }
}

@media (max-width: 700px) {
 .main {
  width: 95%;

  .responsiveSection {
   text-align: center;

   &::before {
    right: 0;
    left: 0;
   }

   .mokupWrapping {
    @include mixins.wdth-hght-borderRD(70%, fit-content, 3rem);
   }
  }
 }
}
