@use "@/app/styles/variables";
@use "@/app/styles/mixins";

.main {
 display: flex;
 flex-direction: column;
 gap: 3rem;
 width: 80%;
 margin: 0 auto 10rem;
 animation: fadeIn 0.6s forwards;

 > img {
  border-radius: 50%;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 10%);
  box-shadow: variables.$box-shadow;
 }

 .cols2 {
  display: grid;
  justify-content: space-between;
  gap: 4rem;
  grid-template-columns: minmax(auto, 70%) minmax(auto, 1fr);

  .col1 {
   p {
    margin-top: 2rem;
   }

   .wrappingContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    flex-wrap: wrap;

    padding-top: 4rem;

    img {
     width: 100%;
    }
   }
  }

  .col2 {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   .icons {
    display: flex;
    gap: 1rem;
    color: variables.$clr-white;

    svg {
     @include mixins.wdth-hght-borderRD(auto, 4rem);
     cursor: pointer;
     transition: 0.2s;

     &:hover {
      transform: scale(1.1);
     }
    }

    .wrappingSkills {
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(auto-fill, minmax(clamp(1rem, 30%, 6rem), 1fr));
     padding: 2rem 0 3rem;
     width: 100%;

     .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > img {
       @include mixins.wdth-hght-borderRD(100%, auto);
      }

      > p {
       font-size: 1rem;
       text-align: center;
       line-height: 1rem;
      }
     }
    }
   }
  }
 }
}

@media (max-width: 700px) {
 .main {
  width: 95%;
  margin: 0 auto 6rem;

  img {
   margin: 0 auto;
  }

  .cols2 {
   grid-template-columns: 100%;

   .col1 {
    .wrappingContent {
     grid-template-columns: 1fr;
    }
   }
  }
 }
}
