@use "../../styles/variables";
@use "../../styles/mixins";

.nav {
 position: fixed;
 margin: 2rem;
 z-index: 2;
 background: linear-gradient(rgba(255, 255, 255, 5%), rgba(255, 255, 255, 0%));
 width: fit-content;
 height: max-content;

 @include mixins.borderRD-boxSD-padding(8rem, variables.$box-shadow, 0.3rem);

 backdrop-filter: blur(1rem);

 @include mixins.flex-alignIC-justifyCC(flex);

 ul {
  @include mixins.flex-column-gap(0.5rem);
  align-items: center;
  position: relative;

  .light {
   background-color: #718096;
   transition-duration: 0.2s;
   width: 2rem;
   height: 2rem;
   margin-top: 1rem;
   border-radius: 9999rem;
   filter: blur(20px);
   position: absolute;
   z-index: -10;
  }

  @include mixins.menuResponsiveDistances;

  .dot {
   transition-duration: 0.2s;
   @include mixins.wdth-hght-borderRD(0.4rem, 0.4rem, 100%);
   background-color: variables.$icon-focus;
   position: absolute;
   top: 3.3rem;
  }

  li {
   @include mixins.flex-alignIC-justifyCC(flex);
   @include mixins.wdth-hght-borderRD(4rem, 4rem, 9999px);
   transition-duration: 0.2s;

   &.activeLi {
    background-color: rgba(255, 255, 255, 10%);
    cursor: default;
   }

   a {
    display: flex;
    align-items: center;

    .icon {
     cursor: pointer;
     align-items: center;
     color: variables.$icon-default;

     &.activeIcon:read-only {
      color: variables.$icon-focus;
      transition-duration: 0.2s;
      cursor: default;
     }

     svg {
      width: auto;
      height: 2rem;
     }
    }

    .menuName {
     background-color: #3b3e47;
     @include mixins.borderRD-boxSD-padding(0.4rem, variables.$box-shadow, 1rem);
     font-size: 1.2rem;
     color: variables.$clr-white;

     position: absolute;
     width: max-content;
     pointer-events: none;
     opacity: 0;
     transform: translateX(1rem);
     transition-duration: 0.2s;

     &.activeName {
      transform: translateX(1rem);
      opacity: 0;
     }

     &.hoverName {
      transform: translateX(4rem);
      opacity: 1;
     }
    }
   }
  }

  .divider {
   width: 65%;
   height: 0.1rem;
   background-color: variables.$icon-default;
  }
 }
}

@media (max-width: 700px) {
 .nav {
  width: 100vw;
  height: 6rem;
  border-radius: 0;

  ul {
   flex-direction: row;
   align-items: center;
   justify-content: center;

   .menuName {
    display: none;
   }

   .dot {
    transition-duration: 0.2s;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    background-color: variables.$icon-focus;
    position: absolute;
    top: 3.3rem;
   }

   .divider {
    width: 0.2rem;
    height: 3rem;
   }
  }
 }
}

@media (max-width: 700px) {
 .nav {
  bottom: 0;
  margin: 0 !important;

  border-top: 1px solid #2D2E31;
  background: #15161aa8;
  backdrop-filter: blur(1rem);
 }
}
