@use "../../styles/variables";
@use "../../styles/mixins";

.myProjects {
 @include mixins.flex-column-gap(2rem);
 width: 100%;

 h3 {
  padding-left: 12rem;
  animation: slideInFromBottom 0.6s ease backwards 0.6s;
 }
}

/* Mobile */
@media (max-width: 700px) {
 .myProjects {
  h3 {
   padding-left: 2rem !important;
  }
 }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
